.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px 10px 10px;
  background-color: lightgray;
  font-weight: 600;
  margin: 5px 0px 0px 0px;
  border-radius: 3px;
  border: 1px solid #9f9f9f;
}

.action-btns button {
  margin-right: 5px;
}